body {
    background-color: #275d38;
}

.navbar {
    margin-bottom: 0px;
}

.UVULogo {
    float: left;
    list-style: none;
    padding-left: 100px;
    padding-top: 10px;
}

.UVUTitle {
    float: center;
    list-style: none;
    padding-top: 35px;
    text-align: center;
    padding-right: 175px;
}

#span6 {
    text-align: right;
    font-family: 'Rajdhani', sans-serif;
    color: white;
    letter-spacing: .25em;
    font-size: 18px;
    float: center;
}

#imageBanner {
    background-color: white;
    text-align: center;
}

.imageBanner {
    list-style: none;
    width: 100%;
}

#bannerImages {
    width: 33.0%;
    margin: 0;
    padding: 5px;
}

.table {
    display: table;
    display: inline;
    margin: 0;
}

ul#horizontal-list li {
    display: inline;
    padding-left: 0px;
}

ul#horizontal-list.imageBanner {
    display: inline;
    padding: 0px;
    margin: 0px;
}

#variableName {
    font-family: 'Graduate', cursive;
    font-size: 36px;
    height: 100px;
    text-align: center;
    color: white;
}

#variableName.row {
    padding: 0;
    margin: 0;
}

#namePlaceholder {
    list-style: none;
    padding-top: 25px;
    padding-left: 0px;
    margin-bottom: 25px;
}

#containerMain {
    color: white;
    font-family: 'Rajdhani', sans-serif;
    letter-spacing: .02em;
    padding-top: 50px;
    max-width: 750px;
}

#containerMain h6 {
    font-size: 18px;
}

#containerMain h4 {
    font-size: 24px;
}

select#F3 {
    font-family: Arial, "Helvetica", Helvetica, sans-serif;
    height: 40px;
    font-size: 18px;
    border: 1px solid #a7a9ac;
}

input#F5 {
    font-family: Arial, "Helvetica", Helvetica, sans-serif;
    height: 40px;
    font-size: 18px;
    border: 1px solid #a7a9ac;
    margin-left: 10px;
}

input#F6 {
    font-family: Arial, "Helvetica", Helvetica, sans-serif;
    height: 40px;
    font-size: 18px;
    border: 1px solid #a7a9ac;
}

button#submit {
    font-family: Arial, "Helvetica", Helvetica, sans-serif;
    font-size: 18px;
    height: 40px;
    border: 1px solid #FFF;
    background-color: #48a23f;
    margin-left: 7px;
}

button#submit:hover {
    background-color: #2e6326;
}

#videoHolder {
    background-color: #1e482c;
}

#video {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px
}

#disclaimer {
    font-family: Arial, "Helvetica", Helvetica, sans-serif;
    font-size: 9px;
    color: white;
    padding-left: 20%;
    padding-right: 20%;
}

@media only screen and (max-width: 1024px) {
    /* Tablet */
    #span6 {
        text-align: right;
        font-family: 'Rajdhani', sans-serif;
        color: white;
        letter-spacing: .01em;
        font-size: 18px;
        float: center;
    }
}

@media only screen and (max-width: 850px) {
    #bannerImages {
        width: 32.75%;
        margin: 0;
        padding: 5px;
    }

    .UVULogo {
        float: left;
        list-style: none;
        padding-left: 50px;
        padding-top: 10px;
    }

    #disclaimer {
        font-family: Arial, "Helvetica", Helvetica, sans-serif;
        font-size: 9px;
        color: white;
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media only screen and (max-width: 750px) {
    #span6 {
        text-align: center;
        font-family: 'Rajdhani', sans-serif;
        color: white;
        letter-spacing: .01em;
        font-size: 18px;
        float: center;
    }

    ul.UVULogo {
        margin: 0;
        padding: 0;
    }

    ul.UVUTitle {
        width: 100%;
        margin: 0;
        padding: 10px;
    }

    .UVULogo {
        width: 100%;
        text-align: center;
        list-style: none;
        padding-top: 10px;
    }

    #disclaimer {
        font-family: Arial, "Helvetica", Helvetica, sans-serif;
        font-size: 9px;
        color: white;
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media only screen and (max-width: 590px) {
    #span6 {
        text-align: center;
        font-family: 'Rajdhani', sans-serif;
        color: white;
        letter-spacing: .01em;
        font-size: 14px;
        float: center;
    }

    #video {
        overflow:hidden;
        padding-bottom:56.25%;
        position:relative;
        height:0;
    }

    #video iframe {
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
    }

    #submit {
        margin-top: 15px;
    }

    button#submit {
        margin-left: 0;
    }
}

@media only screen and (max-width: 460px) {
    #span6 {
        text-align: center;
        font-family: 'Rajdhani', sans-serif;
        color: white;
        letter-spacing: .01em;
        font-size: 13px;
        float: center;
    }

    img#bannerImages.bannerImage1 {
        width: 100%;
        padding: 5px;
    }
    
    .bannerImage2 {
        display: none;
    }

    .bannerImage3 {
        display: none;
    }
}

@media only screen and (max-width: 393px) {
    #span6 {
        text-align: center;
        font-family: 'Rajdhani', sans-serif;
        color: white;
        letter-spacing: .01em;
        font-size: 12px;
        float: center;
    }

    input#F5 {
        margin-top: 15px;
        margin-left: 0
    }

}

@media only screen and (max-width: 345px) {
    #span6 {
        text-align: center;
        font-family: 'Rajdhani', sans-serif;
        color: white;
        letter-spacing: .01em;
        font-size: 11px;
        float: center;
    }

    button#submit {
       min-width: 265px;
       padding-top: 7px
    }
}

@media only screen and (max-width: 300px) {
    #span6 {
        text-align: center;
        font-family: 'Rajdhani', sans-serif;
        color: white;
        letter-spacing: .01em;
        font-size: 10px;
        float: center;
    }
}

@media only screen and (max-width: 275px) {
    #span6 {
        text-align: center;
        font-family: 'Rajdhani', sans-serif;
        color: white;
        letter-spacing: .01em;
        font-size: 9px;
        float: center;
    }
}