body {
    background-color: #275d38;
}

.navbar {
    margin-bottom: 0px;
}

.UVULogo {
    float: left;
    list-style: none;
    padding-left: 100px;
    padding-top: 10px;
}

.UVUTitle {
    float: center;
    list-style: none;
    padding-top: 35px;
    text-align: center;
    padding-right: 175px;
}

#span6 {
    text-align: right;
    font-family: 'Rajdhani', sans-serif;
    color: white;
    letter-spacing: .1em;
    font-size: 18px;
    float: center;
}

#imageBanner {
    background-color: white;
}

.imageBanner {
    list-style: none;
    width: 100%;
}

.table {
    display: table;
    display: inline;
    margin: 0;
}

ul#horizontal-list li {
    display: inline;
    padding-left: 0px;
}

ul#horizontal-list.imageBanner {
    display: inline;
    padding: 0px;
    margin: 0px;
}

#bannerImages {
    width: 33%;
    margin: auto;
    padding: 5px;
}

#variableName {
    font-family: 'Graduate', cursive;
    font-size: 36px;
    height: 100px;
    text-align: center;
    color: white;
}

#variableName.row {
    padding: 0;
    margin: 0;
}

#namePlaceholder {
    list-style: none;
    padding-top: 25px;
    padding-left: 0px;
    margin-bottom: 25px;
}

#containerMain {
    color: white;
    font-family: 'Rajdhani', sans-serif;
    letter-spacing: .02em;
    padding-top: 50px;
    max-width: 750px;
}

#containerMain h6 {
    font-size: 18px;
}

#containerMain h4 {
    font-size: 24px;
}

select#F3 {
    font-family: Arial, "Helvetica", Helvetica, sans-serif;
    height: 40px;
    font-size: 18px;
    border: 1px solid #a7a9ac;
}

input#F5 {
    font-family: Arial, "Helvetica", Helvetica, sans-serif;
    height: 40px;
    font-size: 18px;
    border: 1px solid #a7a9ac;
    margin-left: 10px;
}

input#F6 {
    font-family: Arial, "Helvetica", Helvetica, sans-serif;
    height: 40px;
    font-size: 18px;
    border: 1px solid #a7a9ac;
}

button#submit {
    font-family: Arial, "Helvetica", Helvetica, sans-serif;
    font-size: 18px;
    height: 40px;
    border: 1px solid #FFF;
    background-color: #48a23f;
    margin-left: 7px;
}

button#submit:hover {
    background-color: #2e6326;
}

#videoHolder {
    background-color: #1e482c;
}

#video {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px
}

#disclaimer {
    font-family: Arial, "Helvetica", Helvetica, sans-serif;
    font-size: 9px;
    color: white;
    padding-left: 15%;
    padding-right: 15%;
}